<Root>

  <SubMenu>
    <MenuBox belongsTo="menu-madb">
      <MenuBoxItem onOpen="MADB\Connection\StatusController::show">Status</MenuBoxItem>
      <MenuBoxItem name="menu-madb-cache" submenu="true">Cache</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\App\MenuController::settings">Settings</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\App\MenuController::unlock">Unlock</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\App\MenuController::help">Help</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\App\MenuController::about">About</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\App\MenuController::quit">Exit</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-madb-cache" submenu="true">
      <MenuBoxItem onOpen="MADB\App\MenuController::clearConnectionCache">Clear connection</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\App\MenuController::clearEngineCache">Clear engine</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\App\MenuController::clearAllCache">Clear all</MenuBoxItem>
    </MenuBox>
  </SubMenu>

  <Panel name="settings" class="settings">
    <PanelTitle>Settings</PanelTitle>
    <PanelContent>
      <Label>Default export directory: <File name="settings-export-directory" file="false" create="true" start="~" placeholder="User home" /></Label>
      <Label>Query result directory: <File name="settings-result-directory" file="false" create="true" start="~" placeholder="Default config path" /></Label>
      <Label>Default SELECT limit: <Input name="settings-select-limit" /></Label>
      <Label>Master password: <PasswordInput name="settings-master-password" /></Label>
      <Label>Confirm master password: <PasswordInput name="settings-master-password-confirm" /></Label>
      <CheckBox name="settings-clear-master-password">Clear master password</CheckBox>
      <ButtonBox>
        <Button hotKey="RETURN" onPress="MADB\App\MenuController::saveSettings">Save</Button><Space />
        <Button hotKey="ESCAPE" onPress="MADB\Main\PanelController::closePanel">Cancel</Button>
      </ButtonBox>
    </PanelContent>
  </Panel>

  <Panel name="master-password-unlock" class="settings">
    <PanelTitle>Master password</PanelTitle>
    <PanelContent>
      <Label>Master password: <PasswordInput name="settings-unlock-master-password" /></Label>
      <ButtonBox>
        <Button hotKey="RETURN" onPress="MADB\App\MenuController::unlockMasterPassword">Unlock</Button><Space />
        <Button hotKey="ESCAPE" onPress="MADB\Main\PanelController::closePanel">Cancel</Button>
      </ButtonBox>
    </PanelContent>
  </Panel>

  <Panel name="about">
    <PanelTitle>MADB</PanelTitle>
    <PanelContent>
       <Image value="Layout/madb.png" />
       <Label class="license">Unlicense:
         <TextBox class="license-text" file="UNLICENSE"></TextBox>
       </Label>
       <Label class="version">Version:<NL/>0.0.0.0.0.0.1</Label>
    </PanelContent>
  </Panel>

  <Panel name="help" arrowTabs="true">
    <PanelTitle>Help</PanelTitle>
    <PanelContent>
      <Tabs name="help-tabs">
        <Tab contentName="help-overview">Overview</Tab>
        <Tab contentName="help-connections">Connections</Tab>
        <Tab contentName="help-schemas-tables">Schemas/Tables</Tab>
        <Tab contentName="help-queries">Queries</Tab>
        <Tab contentName="help-results">Results</Tab>
        <Tab contentName="help-keys">Keys</Tab>
      </Tabs>
      <TabBox name="help-overview" class="help-tab">
        <TextReader name="help-overview-text" class="help-text"></TextReader>
      </TabBox>
      <TabBox name="help-connections" class="help-tab">
        <TextReader name="help-connections-text" class="help-text"></TextReader>
      </TabBox>
      <TabBox name="help-schemas-tables" class="help-tab">
        <TextReader name="help-schemas-tables-text" class="help-text"></TextReader>
      </TabBox>
      <TabBox name="help-queries" class="help-tab">
        <TextReader name="help-queries-text" class="help-text"></TextReader>
      </TabBox>
      <TabBox name="help-results" class="help-tab">
        <TextReader name="help-results-text" class="help-text"></TextReader>
      </TabBox>
      <TabBox name="help-keys" class="help-tab">
        <TextReader name="help-keys-text" class="help-text"></TextReader>
      </TabBox>
      <ButtonBox>
        <Button hotKey="RETURN" onPress="MADB\Main\PanelController::closePanel">OK</Button>
      </ButtonBox>
    </PanelContent>
  </Panel>

</Root>
