<Root>

  <MenuBar>
    <MenuBarItem name="menu-connection">Connection</MenuBarItem>
    <MenuBarItem name="menu-schema">Schema</MenuBarItem>
    <MenuBarItem name="menu-table">Table</MenuBarItem>
    <MenuBarItem name="menu-result">Result</MenuBarItem>
    <MenuBarItem name="menu-query">Query</MenuBarItem>
    <MenuBarItem name="menu-list">List</MenuBarItem>
    <MenuBarItem name="menu-madb">MaDB</MenuBarItem>
  </MenuBar>

  <SubMenu>
    <MenuBox belongsTo="menu-connection" name="submenu-connection">
      <MenuBoxItem name="menu-connection-manage" submenu="true" class="MenuSeparator">Manage</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-connection-manage" submenu="true">
      <MenuBoxItem name="menu-connection-create" submenu="true">Create</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\EditController::edit">Edit</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\SortController::sort">Sort</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\MenuController::delete">Delete</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\StatusController::show">Status</MenuBoxItem>
      <MenuBoxItem name="menu-connection-cache" submenu="true">Cache</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-connection-create" submenu="true">
      <MenuBoxItem onOpen="MADB\Connection\EditController::createMySQL">MySQL</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\EditController::createMongoDB">MongoDB</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-connection-cache" submenu="true">
      <MenuBoxItem onOpen="MADB\Connection\MenuController::clearCurrentCache">Clear current</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\MenuController::clearAllCache">Clear all</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-schema" name="menu-schema-list">
      <MenuBoxItem>Select a connection!</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-schema-operations" submenu="true">
      <MenuBoxItem onOpen="">Create</MenuBoxItem>
      <MenuBoxItem onOpen="">Rename</MenuBoxItem>
      <MenuBoxItem onOpen="">Alter</MenuBoxItem>
      <MenuBoxItem onOpen="">Drop</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-table">
      <MenuBoxItem>Select a schema!</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-table-operations">
      <MenuBoxItem onOpen="">Select</MenuBoxItem>
      <MenuBoxItem onOpen="">Show</MenuBoxItem>
      <MenuBoxItem onOpen="">Create</MenuBoxItem>
      <MenuBoxItem onOpen="">Columns</MenuBoxItem>
      <MenuBoxItem onOpen="">Index</MenuBoxItem>
      <MenuBoxItem onOpen="">ForeignKey</MenuBoxItem>
      <MenuBoxItem onOpen="">Trigger</MenuBoxItem>
      <MenuBoxItem onOpen="">Copy</MenuBoxItem>
      <MenuBoxItem onOpen="">Truncate</MenuBoxItem>
      <MenuBoxItem onOpen="">Drop</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-result">
      <MenuBoxItem onOpen="">Export</MenuBoxItem>
      <MenuBoxItem onOpen="">Filter</MenuBoxItem>
      <MenuBoxItem onOpen="">Search</MenuBoxItem>
      <MenuBoxItem onOpen="">Info</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-query">
      <MenuBoxItem onOpen="">Execute</MenuBoxItem>
      <MenuBoxItem onOpen="">ExecOne</MenuBoxItem>
      <MenuBoxItem onOpen="">Templates</MenuBoxItem>
      <MenuBoxItem onOpen="">Format</MenuBoxItem>
      <MenuBoxItem onOpen="">Clear</MenuBoxItem>
      <MenuBoxItem onOpen="">Search</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-list">
      <MenuBoxItem onOpen="">New</MenuBoxItem>
      <MenuBoxItem onOpen="">Clone</MenuBoxItem>
      <MenuBoxItem onOpen="">Rename</MenuBoxItem>
      <MenuBoxItem onOpen="">Move</MenuBoxItem>
      <MenuBoxItem onOpen="">Pin</MenuBoxItem>
      <MenuBoxItem onOpen="">Search</MenuBoxItem>
      <MenuBoxItem onOpen="">Sort</MenuBoxItem>
      <MenuBoxItem onOpen="">Delete</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-madb">
      <MenuBoxItem onOpen="">Settings</MenuBoxItem>
      <MenuBoxItem onOpen="">Help</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Config\MenuController::about">About</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Config\MenuController::quit">Exit</MenuBoxItem>
    </MenuBox>
  </SubMenu>

</Root>
