<Root>

  <MenuBar>
    <MenuBarItem name="menu-connection">Connection</MenuBarItem>
    <MenuBarItem name="menu-schema">Schema</MenuBarItem>
    <MenuBarItem name="menu-table">Table</MenuBarItem>
    <MenuBarItem name="menu-result">Result</MenuBarItem>
    <MenuBarItem name="menu-query">Query</MenuBarItem>
    <MenuBarItem name="menu-list">List</MenuBarItem>
    <MenuBarItem name="menu-madb">MaDB</MenuBarItem>
  </MenuBar>

  <SubMenu>
    <MenuBox belongsTo="menu-connection" name="submenu-connection">
      <MenuBoxItem name="menu-connection-manage" submenu="true" class="MenuSeparator">Manage</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-connection-manage" submenu="true">
      <MenuBoxItem name="menu-connection-create" submenu="true">Create</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\EditController::edit">Edit</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\SortController::sort">Sort</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\MenuController::delete">Delete</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\StatusController::show">Status</MenuBoxItem>
      <MenuBoxItem name="menu-connection-cache" submenu="true">Cache</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-connection-create" submenu="true">
      <MenuBoxItem onOpen="MADB\Connection\EditController::createMySQL">MySQL</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\EditController::createMongoDB">MongoDB</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-connection-cache" submenu="true">
      <MenuBoxItem onOpen="MADB\Connection\MenuController::clearCurrentCache">Clear current</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Connection\MenuController::clearAllCache">Clear all</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-schema" name="menu-schema-list" typing="search">
      <MenuBoxItem>Select a connection!</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-schema-operations" submenu="true">
      <MenuBoxItem onOpen="MADB\Schema\MenuController::create">Create</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Schema\MenuController::rename">Rename</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Schema\MenuController::drop">Drop</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-table" name="menu-table-list" typing="search">
      <MenuBoxItem>Select a schema!</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-table-operations" submenu="true">
      <MenuBoxItem onOpen="MADB\Table\MenuController::selectRows">Select</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Table\MenuController::showRows">Show</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Table\MenuController::showCreate">ShowCreate</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Table\EditController::openCreate">Create</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Table\EditController::openModify">Modify</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Table\EditController::openColumns">Columns</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Table\EditController::openIndexes">Index</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Table\EditController::openForeignKeys">ForeignKey</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Table\EditController::openTriggers">Trigger</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Table\MenuController::copy">Copy</MenuBoxItem>
      <MenuBoxItem onOpen="">Truncate</MenuBoxItem>
      <MenuBoxItem onOpen="">Drop</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-result">
      <MenuBoxItem onOpen="">Export</MenuBoxItem>
      <MenuBoxItem onOpen="">Filter</MenuBoxItem>
      <MenuBoxItem onOpen="">Search</MenuBoxItem>
      <MenuBoxItem onOpen="">Info</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-query">
      <MenuBoxItem onOpen="MADB\Main\ScreenController::executeQuery">Execute</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::executeCurrentQuery">Execute one</MenuBoxItem>
      <MenuBoxItem name="menu-query-templates" submenu="true">Templates</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::formatQuery">Format</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::revertQuery">Revert</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::clearQuery">Clear</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::importQuery">Import</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::exportQuery">Export</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::searchQuery">Search</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-query-templates" submenu="true">
      <MenuBoxItem value="SELECT current" onOpen="MADB\Main\ScreenController::insertTemplate">SELECT current</MenuBoxItem>
      <MenuBoxItem value="INSERT" onOpen="MADB\Main\ScreenController::insertTemplate">INSERT</MenuBoxItem>
      <MenuBoxItem value="UPDATE" onOpen="MADB\Main\ScreenController::insertTemplate">UPDATE</MenuBoxItem>
      <MenuBoxItem value="ON DUPLICATE" onOpen="MADB\Main\ScreenController::insertTemplate">ON DUPLICATE</MenuBoxItem>
      <MenuBoxItem value="JOIN" onOpen="MADB\Main\ScreenController::insertTemplate">JOIN</MenuBoxItem>
      <MenuBoxItem value="DELETE" onOpen="MADB\Main\ScreenController::insertTemplate">DELETE</MenuBoxItem>
      <MenuBoxItem value="GROUP CONCAT MAX LENGTH" onOpen="MADB\Main\ScreenController::insertTemplate">GROUP CONCAT MAX LENGTH</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-list">
      <MenuBoxItem onOpen="MADB\Main\ScreenController::newQuery">New</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::cloneQuery">Clone</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::renameQuery">Rename</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::togglePinQuery">Pin</MenuBoxItem>
      <MenuBoxItem onOpen="">Search</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Main\ScreenController::deleteQuery">Delete</MenuBoxItem>
    </MenuBox>
    <MenuBox belongsTo="menu-madb">
      <MenuBoxItem onOpen="">Settings</MenuBoxItem>
      <MenuBoxItem onOpen="">Help</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Config\MenuController::about">About</MenuBoxItem>
      <MenuBoxItem onOpen="MADB\Config\MenuController::quit">Exit</MenuBoxItem>
    </MenuBox>
  </SubMenu>

</Root>
